<%- include('header.ejs') %>

<!-- 
Data to render 
{
    email: student.email,
    studentName: student.fname + " " + student.lname,
    donationCode: student.donationCode,
    teacherName: teacher.name,
    studentDonations 
}
-->

<div class="container">
    <div class="row">
        <h2><i class="fa fa-envelope"></i> Organization Name</h2>
        <p>Hi ,</p>
        <p>
            <%= userName %> - <%= userCategory %> has raised the purchase for
            the <%= shipName %> with the following details.
        </p>
        <p>Kindly accept or reject the purchase.</p>

        <table style="width: 100%">
            <tr class="headings">
                <th>S.No</th>
                <th>BunkerName</th>
                <th>OilType</th>
                <th>OilGrade</th>
                <th>Qty</th>
                <th>Price</th>
            </tr>
            <% for(var i=0; i < data.length; i++) { %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].type %></td>
                <td><%= data[i].grade %></td>
                <td><%= data[i].qty %></td>
                <td><%= data[i].price %></td>
            </tr>
            <% } %>
        </table>

        <br />

        <div class="dualButtons">
            <a class="btn btn-success" href="<%" ="acceptUrl" %>> Accept</a>
            <a class="btn btn-danger" href="<%" ="rejectUrl" %>>Reject</a>
        </div>
        <br />
        <p>
            If you want to verify all the purchase, Kindly Login using the below
            link
        </p>
        <a href="http:localhost:3000/login" class="btn btn-success">Login</a>
    </div>
</div>
